.page_not_found{
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page_not_found h1{
    margin: 0;
    font-size: 5rem;
    font-weight: 500;
    color: #325f3e;

}
.page_not_found p{
    margin: 0;
    font-size: 2rem;
    color: #00bc77;
    font-weight: 500;
}